:root{
  --primary-bg: #419aff;
  --primary-subtle-bg: #d3e8ff;
  --primary-text: white;
}

/* Uses joshwcomeau CSS Reset */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", serif;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root Stacking Context */
#root, #__next {
  isolation: isolate;
}

/* Header */
header nav{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: red;
  padding: 1rem 10%;
}

#logo{
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

#logo .material-symbols-outlined{
  font-size: 2rem;
}

#logo p{
  font-size: 2rem;
  font-weight: 500;
}

button{
  height: fit-content;
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: var(--primary-bg);
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

button.but-icon{
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

/* Main */
#form-container{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,30%);
  backdrop-filter: blur(10px);
}

#form-add-book{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 400px;
  padding: 2rem 3rem;
  background-color: white;
}

#form-add-book label{
  display: block;
}

#form-add-book input:not(input[type="checkbox"]), #form-add-book select{
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--primary-subtle-bg);
  border: 1px rgba(0,0,0,15%) solid;
}

#form-add-book input:focus{
  outline: 1px var(--primary-bg) solid;
}

input[type="checkbox"]{
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 1rem;
  accent-color: var(--primary-bg);
}

button[type="submit"]{
  width: 100%;
  text-align: center;
}

.red{
  color: red;
}

#but-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#card-container{
  display: grid;
  height: fit-content;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: auto;
  padding: 2rem 10%;
  background-color: yellow;
}

.card{
  position: relative;
  height: 300px;
  width: 100%;
  background-color: gray;
  padding: 1rem;
}

.card .title{
  font-size: 1.5rem;
  font-weight: bold;
}

.but-delete{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}